<footer class="mastfoot pb-5 bg-white section-padding pb-0">
            <div class="inner container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-widget pr-lg-5 pr-0">
                            <img src="img/logo.png" class="img-fluid footer-logo mb-3" alt="" />
                            <p> Mistake is good. Because it shows that you
                                <strong style="color: red"> tried</strong>
                            </p>
                            <nav class="nav nav-mastfoot justify-content-start">
                                <a class="nav-link" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="nav-link" href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="nav-link" href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-widget px-lg-5 px-0">
                            <h4>Batch Time</h4>
                            <ul class="list-unstyled open-hours">
                                <li class="d-flex justify-content-between">
                                    <span>Class 1-5</span><span>4:00 - 5:00 pm</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Class 6-7</span><span>5:00 - 6:00 pm</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Class 8</span><span>6:00 - 7:00 pm</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>class 9</span><span>5:00 - 6:00 am</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>class 11</span><span>6:00 - 7:00 am</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>class 10</span><span>7:00 - 8:00 am</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>Sunday</span><span> Closed</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="footer-widget pl-lg-5 pl-0">
                            <h4>Newsletter</h4>
                            <p>Enter your email for new update 👇👇👇</p>
                            <form id="newsletter">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="emailNewsletter"aria-describedby="emailNewsletter" placeholder="Enter email" />
                                </div>
                                <button type="submit" class="btn btn-primary w-100"> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">
                        <p class="mx-auto text-center mb-0"> Copyright 2019. All Right Reserved. Design by
                            <a href="https://gettemplates.co" target="_blank">GetTemplates</a>
                        </p>
                    </div>
                </div>
            </div>
</footer>